##############################
## Folders                  ##
##############################
node_modules

##############################
## Netbeans conf            ##
##############################
README_CK.MD